<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpSeat - 최적화된 자리 배치</title>

    <link rel="icon" type="image/png" href="/images/favicon-48x48.png" sizes="48x48" />
    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="OpSeat" />
    <link rel="manifest" href="/images/site.webmanifest" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/font.css">
    <link rel="stylesheet" href="/style.css">
</head>

<body class="d-flex flex-column align-items-center bg-light">
    <h3 class="display-7 bold-text">OpSeat - 최적화된 자리 배치</h3>
    <div class="container-fluid d-flex flex-row justify-content-center align-items-center">

        <div class="d-flex flex-column align-items-center">
            <div id="main-container" class="container-lg rounded p-2 shadow d-flex flex-column align-items-center">
                <h3 class="display-7 mt-2">자리 배치</h3>
            </div>
        </div>
        
        <div class="d-flex flex-column align-items-center ms-3">
            <div id="drop-container-wrapper" class="drop-container-wrapper rounded shadow d-flex flex-column align-items-center">
                <h3 class="display-7 mt-2">지망</h3>
                <div id="drop-container" class="table-responsive overflow-auto w-100">
                    <table class="table-secondary table-sm text-center">
                        <thead>
                            <tr>
                                <th style="min-width: 40px;">번호</th>
                                <% for (let col = 0; col < choices; col++) { %>
                                    <th><%= col + 1 %>지망</th>
                                <% } %>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (let row = 0; row < rows * columns; row++) { %>
                                <tr>
                                    <td style="min-width: 40px;"><%= row + 1 %>번</td>
                                    <% for (let col = 0; col < choices; col++) { %>
                                        <td>
                                            <select class="form-select" id="drop-<%= row * choices + col %>">
                                                <option value="랜덤">랜덤</option>
                                                <% for (let i = 1; i <= rows * columns; i++) { %>
                                                    <option value="<%= i %>"><%= i %></option>
                                                <% } %>
                                            </select>
                                        </td>
                                    <% } %>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        

    </div>

    <div class="container-fluid d-flex flex-row justify-content-center align-items-center">
        <div class="low-container-left row d-flex justify-content-center mt-3 mb-4 rounded shadow">
            <div class="col-12 col-md-4 d-flex p-2">
                <div class="card card-bg-secondary w-100 d-flex flex-column h-100">
                    <div class="card-header">
                        자리 제거
                    </div>
                    <div class="card-body row align-items-center">
                        <div class="col">
                            <select id="remove-dropdown" class="form-select shadow" data-bs-toggle="dropdown">
                                <% for (let i = 1; i <= rows * columns; i++) { %>
                                    <option value="<%= i %>"><%= i %></option>
                                <% } %>
                            </select>
                        </div>
                        <div class="col">
                            <button id="remove-button" class="btn btn-danger mt-2 mb-2 shadow">제거</button>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="col-12 col-md-4 d-flex p-2">
                <div class="card card-bg-secondary w-100 d-flex flex-column h-100">
                    <div class="card-header">
                        옵션
                    </div>
                    <div class="card-body row align-items-center">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="blackboard-checkbox">
                            <label class="form-check-label" for="blackboard-checkbox">
                                칠판(정면)
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="col-12 col-md-4 d-flex p-2">
                <div class="card card-bg-secondary w-100 d-flex flex-column h-100">
                    <div class="card-header">
                        초기화
                    </div>
                    <div class="card-body justify-content-center">
                        <div class="justify-content-center">
                            <button onClick="window.location.reload()" class="btn btn-success mt-2 mb-2 shadow">초기화</button>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        
    
        <div class="low-container-right align-items-center justify-content-center d-flex mt-3 mb-4 rounded shadow ms-4">
            <button id="start" class="btn btn-primary btn-lg shadow">자리 배치!</button>
        </div>
    </div>

    <div id="toast-container" class="toast-container position-fixed top-0 end-0 p-3">
        <div id="wait-toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header">
            <img src="\images\favicon-48x48.png" class="rounded me-2">
            <strong class="me-auto">안내</strong>
            <small class="text-body-secondary">방금 전</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body">
            이 기능은 아직 준비 중입니다. 조금만 기다려주세요! 😊
          </div>
        </div>
    </div>
    
    <script>
        const choices = <%= choices %>;
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="/main.js"></script>
</body>
</html>